.Header, .Footer {
    background-color: rgb(62, 55, 55);
}
.Footer{
    height: 50px !important;
}
.Active-nav, .InActive-nav{
    display: inline-block;
    color: #4b4b4b;
    padding: 15px 30px !important;
    margin-right: 20px;
    text-decoration: none;
}
.Active-nav{
    font-weight: 900;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Banner{
    padding: 0 !important;
}
.JobList{
    padding: 0 !important;
    margin: 0 auto !important
}
.JobListHeader, .RecruiterListHeader{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
.JobListHeader h3,.RecruiterListHeader h3{
    width: 40%;
    padding: 0 !important;
}
.RecruiterListHeader a, .JobListHeader a{
    text-decoration: none;
    width: 10%;
}
.JobListHeader h3, .RecruiterListHeader h3{
    color: rgb(102, 196, 52);
    font-weight: bold;
    margin-left: 25px !important;
}
.JobCardBox{
    margin: 10px;
    background-color: rgb(227, 227, 227);
    min-height: 200px;
    border-radius: 15px;
    border: 1px solid rgb(172, 172, 172);
    display: flex;
}
.JobCardBox img{
    border-radius: 15px 0;
    min-height: 200px;
    height: 100%;
}
.JobCard{
    padding: 0 !important;
}
.JobCardLeft{
    margin-right: 10px;
}
.JobCardRight p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(84, 84, 84);
    margin-bottom: 3px;
}

.recruiterItem, .recruiterContentLeft{
    border: 1px solid rgb(73, 73, 73);
    padding: 0 !important;
    border-right: 1px solid rgb(73, 73, 73);
}

.recruiterContent{
    padding: 0 !important;
    margin: 0 auto !important;
}
.recruiterContentLeft{
    height: 270px;

}
.recruiterContentLeft img{
    height: 100%;
}
.recruiterContent{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px !important;
}
.Avatar img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
}
.mock{
    height: 130px;
}